<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h1 *ngIf="!selected">Meal Plans</h1>
<div id="addMeal" *ngIf="loggedIn()">
  <form name="createMeal" *ngIf="!selected">

    <label for="name">Meal Plan Title</label>
    <input type="text" name="title"[(ngModel)]="newMealPlan.title" required><br><br>
    <label for="name">Meal Description</label>
    <input type="text" name="description"[(ngModel)]="newMealPlan.description" required><br><br>
    <label for="name">Meal Visibility</label>
    <input type="checkbox" name="visible"[(ngModel)]="newMealPlan.visible"><br><br>
    <label for="diet">Diet:</label>
    <select [(ngModel)]="selectedDiet" name="diet" (change)="onDietSelected(selectedDiet)">
      <option [ngValue]="null" disabled>Select a diet</option>
      <option *ngFor="let diet of diets" [ngValue]="diet">{{diet.name}}</option>
    </select>


    <div ngbDropdown class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle
      data-mdb-toggle="dropdown" aria-expanded="false">
      Add Meals to Plan?
      </button>
      <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="itemButton" ng-click="changeColor('green')" (click)="[addMealToMealPlan(meal)]" ngbDropdownItem *ngFor="let meal of mealList" >
          {{meal.name}}
        </button>
      </div>
  </div>

    <button (click)="addMealPlan(newMealPlan)" class="btn btn-primary">Create Meal Plan</button>

  </form>

</div>

<span (click)="selectedDietName = diet.name" *ngFor="let diet of diets">{{diet.name}} | </span>
<span (click)="selectedDietName = 'all'">All | </span>
<table class="table table-striped table-hover" *ngIf="!selected">
  <thead>
    <tr>

      <th>Name</th>
      <th>Created By:</th>


    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let mealPlan of resultMealPlans  | mealPlanDiet:selectedDietName | enabledMealPlans">


      <tr (click)="displaySingleMealPlan(mealPlan)">


        <td>{{mealPlan.title}}</td>
        <td *ngIf="mealPlan.planCreator" >{{mealPlan.planCreator.username}}</td>


      </tr>
    </ng-container>

</tbody>
</table>

<div id="mealPlanDetailDiv" *ngIf="selected && !selectedMeal">
  <h1> Plan: {{selected.title}}</h1>
  <h2 *ngIf="selected.diets[0]">Diet: {{selected.diets[0].name}}</h2>

  <table class="table table-striped table-hover" *ngFor="let meal of selected.meals">

    <thead>
      <tr>

        <th>Meal</th>
        <th>Created By:</th>


      </tr>
    </thead>
    <tbody>

  <tr (click)="displaySingleMeal(meal)">

    <td>{{meal.name}}</td>
    <td *ngIf="meal.user">{{meal.user.username}}</td>


  </tr>
    </tbody>


  </table>

  <div class="review-form" *ngIf="loggedIn()">
    <h3>Add a Review</h3>
    <form (ngSubmit)="onSubmitReview()">
      <div>
        <label for="stars">Stars:</label>
        <input [(ngModel)]="newReview.stars" name="stars" type="number" min="0" max="5" required>
      </div>
      <div>
        <label for="comment">Comment:</label>
        <textarea [(ngModel)]="newReview.comment" name="comment" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="reviews">
    <h3>Reviews</h3>
    <ul>
      <li *ngFor="let review of planReviews">
        <p>Stars: {{review.stars}}</p>
        <p>Comment: {{review.comment}}</p>
        <p>Reviewed by: {{review.user.username}}</p>
      </li>
    </ul>
  </div>
</div>

  <div id="mealDetailDiv" *ngIf="selectedMeal">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="selectedMeal.imageUrl" alt="Card image cap">
      <div class="card-body">

    <h1> Name: {{selectedMeal.name}}</h1>

    <p>Desc: {{selectedMeal.description}}</p>
    <p>Instructions: {{selectedMeal.instructions}}</p>

    Groceries:
  <ul >
    <li *ngFor="let grocery of selectedMeal.groceryItems">
      {{grocery.name}}
    </li>
  </ul>



    <ul>
      <li>Prep Time: {{selectedMeal.prepTime | number: '1.1-1'}} min</li>
      <li>Cook Time: {{selectedMeal.cookTime | number: '1.1-1'}} min</li>

    </ul>
    <div class="review-form" *ngIf="loggedIn()">
      <h3>Add a Review</h3>
      <form (ngSubmit)="onSubmitReview()">
        <div>
          <label for="stars">Stars:</label>
          <input [(ngModel)]="newReview.stars" name="stars" type="number" min="0" max="5" required>
        </div>
        <div>
          <label for="comment">Comment:</label>
          <textarea [(ngModel)]="newReview.comment" name="comment" required></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="reviews" *ngIf="mealReviews.length > 0">
      <h3>Reviews</h3>
      <ul>
        <li *ngFor="let review of mealReviews">
          <p>Stars: {{review.stars}}</p>
          <p>Comment: {{review.comment}}</p>
          <p>Reviewed by: {{review.user.username}}</p>
      </ul>
    </div>

    <button class ="btn btn-primary"(click)="displayTable()">Back</button>
  </div>
  </div>








  </div>
