<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button  (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01"
    [ngbCollapse]='isCollapsed'>
      <a class="navbar-brand" [routerLink]="['/home']">Home Page</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/meals']">Meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mealPlans']">Meal Plans</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" [routerLink]="['/register']">Register Account</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" [routerLink]="['/shoppingList']">My Shopping List</a>
        </li>

        <li *ngIf="loggedIn()">

          <app-logout></app-logout>
        </li>
      </ul>

    </div>
  </div>
</nav>
