<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<h1 *ngIf="!selected">Meals</h1>
<div id="addMeal" *ngIf="loggedIn()">
  <form name="createMeal" *ngIf="!selected">

    <label for="name">Meal Name</label>
    <input type="text" name="name"[(ngModel)]="newMeal.name" required><br><br>
    <label for="name">Meal Description</label>
    <input type="text" name="description"[(ngModel)]="newMeal.description" required><br><br>
    <label for="name">Meal Instructions</label>
    <input type="text" name="instructions"[(ngModel)]="newMeal.instructions"><br><br>
    <label for="name">Meal Image URL</label>
    <input type="text" name="imageUrl"[(ngModel)]="newMeal.imageUrl"><br><br>
    <label for="name">Meal Visibility</label>
    <input type="checkbox" name="visible"[(ngModel)]="newMeal.visible"><br><br>
    <label for="name">Prep Time</label>
    <input type="number" name="prepTime"[(ngModel)]="newMeal.prepTime"><br><br>
    <label for="name">Cook Time</label>
    <input type="number" name="cookTime"[(ngModel)]="newMeal.cookTime"><br><br>
    <div ngbDropdown class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle
      data-mdb-toggle="dropdown" aria-expanded="false">
      Ingredients List
      </button>
      <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="itemButton" ng-click="changeColor('green')" (click)="[addItemToMeal(groceryItem)]" ngbDropdownItem *ngFor="let groceryItem of groceryItemList" >
          {{groceryItem.name}}
        </button>
        <br><br>
      </div>
    </div>
    <label for="newGroceryItem">New Grocery Item</label>
<input type="text" name="newGroceryItem" [(ngModel)]="newGroceryItemName">
<button (click)="createAndAddGroceryItem(newGroceryItemName)" class="btn btn-primary">Add New Grocery Item</button>
<p>Added Grocery Items:</p>
<ul>
  <li *ngFor="let groceryItem of addedGroceryItems">
    {{groceryItem.name}}
  </li>
</ul>

    <button (click)="addMeal(newMeal)" class="btn btn-primary">Create Meal</button>

  </form>

</div>

<table class="table table-striped table-hover" *ngIf="!selected">
  <thead>
    <tr>

      <th>Name</th>
      <th>Created By:</th>


    </tr>
  </thead>
  <tbody>

<tr *ngFor="let meal of meals" (click)="displaySingleMeal(meal)">

  <td>{{meal.name}}</td>
  <td *ngIf="meal.user">{{meal.user.username}}</td>


</tr>
  </tbody>

</table>

<div id="mealDetailDiv" *ngIf="selected">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="selected.imageUrl" alt="Card image cap">
    <div class="card-body">

  <h1> Name: {{selected.name}}</h1>

  <p>Desc: {{selected.description}}</p>
  <p>Instructions: {{selected.instructions}}</p>
  Groceries:
  <ul >
    <li *ngFor="let grocery of selected.groceryItems">
      {{grocery.name}}
    </li>
  </ul>



  <ul>
    <li>Prep Time: {{selected.prepTime | number: '1.1-1'}} min</li>
    <li>Cook Time: {{selected.cookTime | number: '1.1-1'}} min</li>

  </ul>

  <button class ="btn btn-primary"(click)="displayTable()">Back</button>
</div>
</div>




