<div >

Profile here
<h3>
  Name:
  {{userToDisplay?.username}}
</h3>

<h2>
  Email:
  {{userToDisplay?.email}}
</h2>

My Meals:
<div id="mealDetailDiv" *ngFor="let meal of userToDisplay?.userMeals" >

  <div class="card" style="width: 18 rem;">
    <img class="card-img-top" [src]="meal.imageUrl" alt="Card image cap" >
    <div class="card-body">

  <h1> Name: {{meal.name}}</h1>

  <p>Desc: {{meal.description}}</p>
  <p>Instructions: {{meal.instructions}}</p>
  Groceries:
  <ul >
    <li *ngFor="let grocery of meal.groceryItems">
      {{grocery.name}}
    </li>
  </ul>



  <ul>
    <li>Prep Time: {{meal.prepTime | number: '1.1-1'}} min</li>
    <li>Cook Time: {{meal.cookTime | number: '1.1-1'}} min</li>

  </ul>


</div>
</div>
</div>
My Meal Plans:
<div id="mealPlanDetailDiv" *ngFor="let mealPlan of userToDisplay?.userMealPlans">
  <h1> Plan: {{mealPlan.title}}</h1>

  <table class="table table-striped table-hover" *ngFor="let meal of mealPlan.meals">

    <thead>
      <tr>

        <th>Meal</th>
        <th>Created By:</th>


      </tr>
    </thead>
    <tbody>

 <!-- <tr (click)="displaySingleMeal(meal)"> -->
<tr>
    <td>{{meal.name}}</td>
    <td *ngIf="meal.user">{{meal.user.username}}</td>


  </tr>
    </tbody>


  </table>
</div>

</div>
