<div >
  <div id="user info" *ngIf="!myMeals && !myMealPlans &&!singleMeal">

    <h3>
      Hello,
      {{ userToDisplay?.username }}!
    </h3>

    <img src="{{userToDisplay?.imageUrl}}">
  </div>
  <button class="btn btn-info" *ngIf="!editMeal && !myMeals && !myMealPlans && !singleMeal" (click)="myMeals = true">My Meals</button>



  <div *ngIf="myMeals && !editMeal && !myMealPlans">
    My Meals:
    <div id="mealDetailDiv" *ngFor="let meal of userToDisplay?.userMeals">
      <div *ngIf="meal.enabled">
        <div class="card" style="width: 18 rem">
          <img
            class="card-img-top"
            [src]="meal.imageUrl"
            alt="Card image cap"
          />
          <div class="card-body">
            <h1>Name: {{ meal.name }}</h1>

            <p>Desc: {{ meal.description }}</p>
            <p>Instructions: {{ meal.instructions }}</p>
            Groceries:
            <ul>
              <li *ngFor="let grocery of meal.groceryItems">
                {{ grocery.name }} <button (click)="addGroceryToShoppingList(grocery)">Add To Shopping List</button>
              </li>
            </ul>

            <ul>
              <li>Prep Time: {{ meal.prepTime | number : "1.1-1" }} min</li>
              <li>Cook Time: {{ meal.cookTime | number : "1.1-1" }} min</li>
            </ul>

            <button class="btn btn-warning btn-sm"(click)="setEditMeal(meal)">Edit Meal</button>
            <button class="btn btn-danger btn-sm" (click)="deleteMeal(meal.id)">Delete Meal</button><br>
            <button class="btn btn-primary btn-sm" (click)="myMeals = false">Back To Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="editMeal" *ngIf="editMeal">
    <form name="createMeal">
      <label for="name">Meal Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="editMeal.name"
        required
      /><br /><br />
      <label for="name">Meal Description</label>
      <input
        type="text"
        name="description"
        [(ngModel)]="editMeal.description"
        required
      /><br /><br />
      <label for="name">Meal Instructions</label>
      <input
        type="text"
        name="instructions"
        [(ngModel)]="editMeal.instructions"
      /><br /><br />
      <label for="name">Meal Image URL</label>
      <input
        type="text"
        name="imageUrl"
        [(ngModel)]="editMeal.imageUrl"
      /><br /><br />
      <label for="name">Meal Visibility</label>
      <input
        type="checkbox"
        name="visible"
        [(ngModel)]="editMeal.visible"
      /><br /><br />
      <label for="name">Prep Time</label>
      <input
        type="number"
        name="prepTime"
        [(ngModel)]="editMeal.prepTime"
      /><br /><br />
      <label for="name">Cook Time</label>
      <input
        type="number"
        name="cookTime"
        [(ngModel)]="editMeal.cookTime"
      /><br /><br />


      <button (click)="updateMeal(editMeal)" class="btn btn-primary">
        Edit Meal
      </button>
    </form>
  </div>
  <button class="btn btn-info" *ngIf="!editMeal && !myMeals && !myMealPlans && !mealPlanToChange &&!singleMeal" (click)="myMealPlans = true">My Meal Plans</button>




  <div *ngIf="myMealPlans && !editMeal && !editMealPlan && !mealPlanToChange" >
  <div
    id="mealPlanDetailDiv"
    *ngFor="let mealPlan of userToDisplay?.userMealPlans"
  >
    <h1>Plan: {{ mealPlan.title }}</h1>
    <button (click)="setEditMealPlan(mealPlan)" class="btn btn-warning btn-sm">Update Meal Plan</button>
    <button class="btn btn-info btn-sm"(click)="changeMeals(mealPlan)">Add/Remove Meals</button><br>
    <button class="btn btn-primary btn-sm" (click)="myMealPlans = false">Back To Profile</button>
    <!-- <button class="btn btn-danger btn-sm" (click)="deleteMealPlan(mealPlan)">Delete Meal Plan</button> -->


    <div *ngIf="!editMealPlan">
    <table
      class="table table-striped table-hover"
      *ngFor="let meal of mealPlan.meals"
    >
      <thead>
        <tr>
          <th>Meal</th>
          <th>Created By:</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr (click)="displaySingleMeal(meal)"> -->
        <tr (click)="displaySingleMeal(meal)">
          <td>{{ meal.name }}</td>
          <td *ngIf="meal.user">{{ meal.user.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>


<div *ngIf="singleMeal ">
  <div *ngIf="singleMeal.enabled">
    <div class="card" style="width: 18 rem">
      <img
        class="card-img-top"
        [src]="singleMeal.imageUrl"
        alt="Card image cap"
      />
      <div class="card-body">
        <h1>Name: {{ singleMeal.name }}</h1>

        <p>Desc: {{ singleMeal.description }}</p>
        <p>Instructions: {{ singleMeal.instructions }}</p>
        Groceries:
        <ul>
          <li *ngFor="let grocery of singleMeal.groceryItems">
            {{ grocery.name }} <button (click)="addGroceryToShoppingList(grocery)">Add To Shopping List</button>
          </li>
        </ul>

        <ul>
          <li>Prep Time: {{ singleMeal.prepTime | number : "1.1-1" }} min</li>
          <li>Cook Time: {{ singleMeal.cookTime | number : "1.1-1" }} min</li>
        </ul>

        <button class="btn btn-primary btn-sm" (click)="displayMealsInMealPlan()">Back To Meals</button>
      </div>
    </div>
  </div>



</div>

<div *ngIf="editMealPlan">

  <form name="editMealPlan">

    <label for="name">Meal Plan Title</label>
    <input type="text" name="title"[(ngModel)]="editMealPlan.title" required><br><br>
    <label for="name">Meal Description</label>
    <input type="text" name="description"[(ngModel)]="editMealPlan.description" required><br><br>
    <label for="name">Meal Visibility</label>
    <input type="checkbox" name="visible"[(ngModel)]="editMealPlan.visible"><br><br>



    <button class="btn btn-success" (click)="updateMealPlan(editMealPlan)">Update MealPlan</button>
    </form>
</div>

<div *ngIf="mealPlanToChange && !editMealPlan">
  <div ngbDropdown class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle
    data-mdb-toggle="dropdown" aria-expanded="false" (click)="findAllMeals()">
    Add Meals to Plan?

    </button>
    <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="itemButton" ng-click="changeColor('green')" (click)="[addMealToMealPlan(meal, mealPlanToChange)]" ngbDropdownItem *ngFor="let meal of mealList" >
        {{meal.name}}
      </button>
    </div>
</div>

  <ul>

  <li *ngFor="let meal of mealPlanToChange.meals">
      {{meal.name}} <button class="btn btn-danger btn-sm" (click)="removeMealFromMealPlan(meal, mealPlanToChange)"> Remove From Meal Plan</button>
  </li>

  </ul>
</div>

<button class="btn btn-danger" *ngIf="!editMeal && !myMeals && !myMealPlans && !singleMeal" (click)="deleteAccount()">Delete Account </button>
