/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

/* Reset some browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}


:root {
  --primary-color: #3A7CA5;
  --secondary-color: #D8BFD8;
  --accent-color: #F0EAD6;
  --background-color: #DCE9F0;
  --text-color: #222831;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}


.navbar {
  background-color: var(--primary-color);
  border-bottom: 4px solid var(--accent-color);
}

.navbar-brand,
.nav-link {
  color: var(--text-color);
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--accent-color);
}


.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.btn-danger:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color : fff;
}

.btn {
  background-color: var(--primary-color);
  color: fff(189, 186, 186);
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}


.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card {
  max-width: 800px;
  margin: 15px auto;
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 20px;
}

.card-img-top {
  width: 300px;
  height: 220px;
  object-fit: cover;
  margin: 15px auto;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.card-img-top:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}

.login input:focus {
  background-color: var(--accent-color);
  color: var(--text-color);
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-pulse {
  animation: pulse 2s infinite;
  }


  form.styled-form {
  background-color: #F9F9F9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;

  margin: 30px auto;
  }

  form.styled-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  }

  form.styled-form input,
  form.styled-form select,
  form.styled-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  }

  form.styled-form input[type="submit"] {
  width: auto;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  form.styled-form input[type="submit"]:hover {
  background-color: var(--secondary-color);
  }

  form.styled-form input:hover,
form.styled-form select:hover,
form.styled-form textarea:hover {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

form.styled-form input:focus,
form.styled-form select:focus,
form.styled-form textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(58, 124, 165, 0.5);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



  /* Meal list view */
 /* Table styles */
.table-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1rem;
}

.table-list th {
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
  padding: 0.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.table-list td {
  padding: 0.5rem;
  text-align: left;
  border-top: 1px solid #dee2e6;
}

.table-list tr:nth-child(odd) {
  background-color: var(--table-stripe-color);
}

.table-list tr:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.table-list tr:hover td {
  color: #3A7CA5;
}
